<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <title>Contact Me</title>
</head>
<header>
    <h1 style="display: flex; justify-content: center;">Full-Stack JavaScript QAP2</h1>
</header>
<nav style="display: flex; float: left; justify-content: center;">
    <div style="margin: 30px;">
        <a href="/">Home</a>
    </div>
    <div style="margin: 30px;">
        <a href="/products">Products</a>
    </div>
    <div style="margin: 30px;">
        <a href="/subscribe">Subscribe</a>
    </div>
    <div style="margin: 30px;">
        <a href="/technews">Tech News</a>
    </div>
    <div style="margin: 30px;">
        <a href="/contact">Contact</a>
    </div>
    <div style="margin: 30px;">
        <a href="/about">About</a>
    </div>
</nav>
<br clear="all">
<body>
    <h1 style="display: flex; justify-content: center;">Contact Me</h1>
    <p>
        Please feel free to contact me if you have any questions or would like to discuss potential opportunities.
    </p>
    <p>
        Email: <a href="mailto:" target="_blank">mitchell.barkley@keyin.com</a>
    </p>
</body>
</html>