<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <title>MultiRoute Server Home</title>
</head>
<header>
    <h1 style="display: flex; justify-content: center; color:forestgreen; text-decoration: underline;">Full-Stack JavaScript QAP2</h1>
</header>
<hr style="color:darkgreen">
<nav style="display: flex; float: left; justify-content: center;">
    <div style="margin: 30px;">
        <a href="/" style="color:tomato;">Home</a>
    </div>
    <div style="margin: 30px;">
        <a href="/products" style="color:tomato;">Products</a>
    </div>
    <div style="margin: 30px;">
        <a href="/subscribe" style="color:tomato;">Subscribe</a>
    </div>
    <div style="margin: 30px;">
        <a href="/technews" style="color:tomato;">Tech News</a>
    </div>
    <div style="margin: 30px;">
        <a href="/contact" style="color:tomato;">Contact</a>
    </div>
    <div style="margin: 30px;">
        <a href="/about" style="color:tomato;">About</a>
    </div>
</nav>
<br clear="all">
<hr style="color:darkgreen">
<body style="background-color: black; color:lawngreen;">
    <h1 style="display: flex; justify-content: center; color:forestgreen;">Home</h1>
    <p>
        Welcome to the Full-Stack JavaScript QAP2 home page. 
        This is a simple web application that demonstrates the 
        use of a multi-route server to serve different content 
        based on the URL path.
    </p>
    <br clear="all">
    <h2 style="color:forestgreen; text-decoration: underline;">Instructions:</h2>
    <p>You are allowed to complete the assessment problems below in whatever way you can but please 
        answer the following questions/points as part of your submission:
        <ol>
            <li>
                How many hours did it take you to complete this assessment? (Please keep try to keep 
                track of how many hours you have spent working on each individual part of this 
                assessment as best you can - an estimation is fine; we just want a rough idea.)
                <ul>
                    <li>
                        Approximately 10 hours.
                    </li>
                </ul>
            </li>
            <br>
            <li>
                What online resources you have used? (My lectures, YouTube, Stack overflow etc.)
                <ul>
                    <li>
                        I used the following resources:
                        <ol>
                            <li>
                                Lectures.
                            </li>
                            <li>
                                My notes from lectures.
                            </li>
                            <li>
                                NPM documentation.
                            </li>
                            <li>
                                W3 Schools.
                            </li>
                        </ol>
                    </li>
                </ul>
            </li>
            <br>
            <li>
                Did you need to ask any of your friends in solving the problems. (If yes, please 
                mention name of the friend. They must be amongst your class fellows.)
                <ul>
                    <li>
                        I had finished the assignment with distiction and wanted to add CSS to make 
                        it look better, so I asked for help in the Discord group and got help from
                        Malerie Earle and @AColbert with their suggestions to use online CSS templates.
                    </li>
                </ul>
            </li>
            <br>
            <li>
                Did you need to ask questions to any of your instructors? If so, how many questions 
                did you ask (or how many help sessions did you require)?
                <ul>
                    <li>
                        Not for this assignment. My notes from the lectures were sufficient.
                    </li>
                </ul>
            </li>
            <br>
            <li>
                Rate (subjectively) the difficulty of each question from your own perspective, and 
                whether you feel confident that you can solve a similar but different problem 
                requiring some of the same techniques in the future now that you’ve completed this one.
                <ul>
                    <li>
                        I feel that the notes I was able to take during the lectures gave me a good 
                        headstart on the assignment, but required a good understanding of the code in 
                        order to complete the problems. The bonus section was more difficult and required 
                        some research to complete. I feel confident that I can solve a similar but different
                        problem requiring some of the same techniques in the future now that I’ve completed
                        this one.
                    </li>
            </li>
        </ol>
    </p>
</body>
</html>