<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <title>Products</title>
</head>
<header>
    <h1 style="display: flex; justify-content: center; color:forestgreen; text-decoration: underline;">Full-Stack JavaScript QAP2</h1>
</header>
<hr style="color:darkgreen">
<nav style="display: flex; float: left; justify-content: center;">
    <div style="margin: 30px;">
        <a href="/" style="color:tomato;">Home</a>
    </div>
    <div style="margin: 30px;">
        <a href="/products" style="color:tomato;">Products</a>
    </div>
    <div style="margin: 30px;">
        <a href="/subscribe" style="color:tomato;">Subscribe</a>
    </div>
    <div style="margin: 30px;">
        <a href="/technews" style="color:tomato;">Tech News</a>
    </div>
    <div style="margin: 30px;">
        <a href="/contact" style="color:tomato;">Contact</a>
    </div>
    <div style="margin: 30px;">
        <a href="/about" style="color:tomato;">About</a>
    </div>
</nav>
<br clear="all">
<hr style="color:darkgreen">
<body style="background-color: black;">
    <h1 style="display: flex; justify-content: center; color:forestgreen;">Products</h1>
    <p>
        <ul id="products-list" style="display:flex; float:left; flex-wrap:wrap; justify-content: center; align-items: center;">
            <li style="margin-right: 200px; margin-left: 40px;">Laptops
                <img src="https://gdb.voanews.com/755809D7-41A7-4671-955E-5CA0664660C4_cx0_cy3_cw0_w1023_r1_s.jpg" width=" 200px">
                <br clear="all">
                <hr style="color:darkgreen">
            </li>
            <li style="margin-right: 200px; margin-left: 40px;">Drones
                <img src="https://c02.purpledshub.com/uploads/sites/41/2022/06/9421412f8e83278b37b538744a0913b0ultra-01e0e5e-e1655112987410.jpeg?webp=1&w=1200" width=" 200px">
                <br clear="all">
                <hr style="color:darkgreen">
            </li>
            <li style="margin-right: 200px; margin-left: 40px;">Headsets
                <img src="https://c02.purpledshub.com/uploads/sites/41/2022/07/71-hkFn17zL.ACSL1428-cefe0d2-e1657789155467.jpg?webp=1&w=1200" width=" 200px">
                <br clear="all">
                <hr style="color:darkgreen">
            </li>
            <li style="margin-right: 200px; margin-left: 40px;">Phones
                <img src="https://c02.purpledshub.com/uploads/sites/41/2022/09/Samsung-Fold-b11711d.jpg?webp=1&w=1200" width=" 200px">
                <br clear="all">
                <hr style="color:darkgreen">
            </li>
            <li style="margin-right: 200px; margin-left: 40px;">Accessories
                <img src="https://c02.purpledshub.com/uploads/sites/41/2022/09/dji-osmo-mobile-6-1663872273-95387d0.jpeg?webp=1&w=1200" width=" 200px">
                <br clear="all">
                <hr style="color:darkgreen">
            </li>
        </ul>
    </p>
</body>
</html>