<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <title>Subscribe</title>
</head>
<header>
    <h1 style="display: flex; justify-content: center; color:forestgreen; text-decoration: underline;">Full-Stack JavaScript QAP2</h1>
</header>
<hr style="color:darkgreen">
<nav style="display: flex; float: left; justify-content: center;">
    <div style="margin: 30px;">
        <a href="/" style="color:tomato;">Home</a>
    </div>
    <div style="margin: 30px;">
        <a href="/products" style="color:tomato;">Products</a>
    </div>
    <div style="margin: 30px;">
        <a href="/subscribe" style="color:tomato;">Subscribe</a>
    </div>
    <div style="margin: 30px;">
        <a href="/technews" style="color:tomato;">Tech News</a>
    </div>
    <div style="margin: 30px;">
        <a href="/contact" style="color:tomato;">Contact</a>
    </div>
    <div style="margin: 30px;">
        <a href="/about" style="color:tomato;">About</a>
    </div>
</nav>
<br clear="all">
<hr style="color:darkgreen">
<body style="background-color: black;">
    <h1 style="display: flex; justify-content: center; color:forestgreen;">Subscribe</h1>
    <p>
        Please subscribe to our newsletter to receive the latest updates on our products and services.
    </p>
    <form action="/subscribe" method="POST">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required style="background-color: darkgrey; width:500px">
        <button type="submit" style="background-color: red;">Subscribe</button>
    </form>
</body>
</html>